section {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 120px;
}
.section_wrap {
    margin-bottom: 90px;
}

/* ------------------------------content02---------------------------- */
#content02 .sc_type_02 .section_photo_box:hover {
    border: 3px solid #2cbbb7;
}

/* ------------------------------content03---------------------------- */
#content03 .sc_type_02:nth-child(2) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_2.png);
}
#content03 .sc_type_02:nth-child(3) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_3.png);
}
#content03 .sc_type_02:nth-child(4) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_4.png);
}

/* ------------------------------content05---------------------------- */
#content05 .sc_type_02:nth-child(2) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_2.png);
}
#content05 .sc_type_02:nth-child(3) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_3.png);
}
#content05 .sc_type_02:nth-child(4) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_4.png);
}
