section {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 120px;
}
.section_wrap {
    margin-bottom: 90px;
}

/* ------------------------------content02---------------------------- */
#content02 .sc_type_02 .section_photo_box:hover {
    border: 3px solid #2cbbb7;
}

/* ------------------------------content03---------------------------- */
#content03 .sc_type_02:nth-child(2) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_2.png);
}
#content03 .sc_type_02:nth-child(3) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_3.png);
}
#content03 .sc_type_02:nth-child(4) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_4.png);
}

/* ------------------------------content05---------------------------- */
#content05 .sc_type_02:nth-child(2) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_2.png);
}
#content05 .sc_type_02:nth-child(3) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_3.png);
}
#content05 .sc_type_02:nth-child(4) .section_photo_box .photo_1 {
    background: url(../img/image/photo_02_4.png);
}

/* ------------------------------content_06---------------------------- */
#content_06 .main_bt {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#content_06 .main_bt > button {
    background-color: #f3f3f3;
    padding: 15px 30px 15px 30px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #0c323d;
}
#content_06 .main_bt .cb_1:nth-child(2) .cb_1_text::before {
    content: '텍스트분석';
}
#content_06 .main_bt .cb_1:nth-child(3) .cb_1_text::before {
    content: '군집';
}

#content_06 .main_bt .cb_1:nth-child(4) .cb_1_text::before {
    content: '분류';
}

#content_06 .main_bt .cb_1:nth-child(5) .cb_1_text::before {
    content: '최적화';
}
#content_06 .main_bt .cb_1:nth-child(6) .cb_1_text::before {
    content: '추천';
}
#content_06 .main_bt .cb_1:nth-child(7) .cb_1_text::before {
    content: '회귀';
}
#content_06 .main_bt .cb_1:nth-child(8) .cb_1_text::before {
    content: '기타';
}

/* ------------------------------content_07---------------------------- */
#content_07 .section_wrap {
    padding: 00px 20px 0px 20px;
    position: relative;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 40px;
}
#content_07 .section_wrap > .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content_07 .section_wrap .sc_bt_div {
    display: inline-block;
}
#content_07 .section_wrap .sc_bt_div .gray_box {
    padding: 20px 30px 20px 30px;
    border: 1px solid #dddddd;
    margin-right: -4px;
    border-radius: 2px;
    background-color: #f3f3f3;
    margin-bottom: -1px;
    color: #667d85;
    font-size: 16px;
}
#content_07 .section_wrap .sc_bt_div .gray_box.white_box {
    background-color: #fff;
    color: #0c323d;
    border-bottom: 1px solid #fff;
}

/* table 사용법 */
.table_2_content {
    border: 3px solid #85989e;
    height: 400px;
    margin-top: 40px;
    display: none;
}

.table_3_content {
    border: 3px solid #2dbab2;
    height: 400px;
    margin-top: 40px;
    display: none;
}

.table_4_content {
    border: 3px solid #397fd4;
    height: 400px;
    margin-top: 40px;
    display: none;
}
